<% include partials/header %>

    <div class="container">
        <h1>This is the secret page!</h1>

        <p>You found me!</p>
    
        <img src="https://i.ytimg.com/vi/S8dO8iwZA5c/maxresdefault.jpg" alt="chicken">
    
        <a href="/"><p>Back</p></a>
    </div>

<% include partials/footer %>